@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav ">
        <li><a  href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav ">
        <li>
            <a href='@Url.Action("Login", "Account")' class="navbar-brand" href="/"><img width="35" height="35" src="~/Images/BataVayne.png">Login</a>
        </li>
    </ul>
}
