@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a class="navbar-brand" href="@Url.Action("Perfil", "Perfil")" ><img width="35" height="35" src="/Images/BatataSocialIcone.png">@User.Identity.Name</a>
       }
       else
       {

<a class="navbar-brand" href='@Url.Action("Index", "Home")'><img width="35" height="35" src="/Images/BatataSocialIcone.png">Batata Social</a>
}

